


/*Smalldevices(landscapephones,576pxandup)*/
@media(min-width:576px){
	.container{
		width: 520px;
		margin-left: auto;
		margin-right: auto;
	}
}
/*Mediumdevices(tablets,768pxandup)*/
@media(min-width:768px){
	.container{
		width: 720px;
	}
}
/*Largedevices(lap,992pxandup)*/
@media(min-width:992px){
	.container{
		width: 930px;
	}
    .parent {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center; 
    }  
    .parent .container
    {
        display: flex;
        align-items: center;
        justify-content: center; 
        background-color: #eee;
        border-radius: 20px;
        height: 480px;
        padding-right:15px;

    }
    img {
        width:480px;
        height: 100%;
    
    }   
}
/*Extralargedevices(largedesktops,1200pxandup)*/
@media(min-width:1200px){
	.container{
		width: 1140px;
	}
}
@media(min-width:1400px){
	.container{
		width: 1340px;
	}
}




