.css-8u39c-MuiTypography-root {
    margin: 0 0 0 auto !important;
  }
.css-hyum1k-MuiToolbar-root {
  color:"red" !important;
  /* width:480px; */
  background-color: #f5f5f5;
  color:"red"
}
.css-1f5y6oa-MuiButtonBase-root-MuiIconButton-root{
    color:#606060 !important;
    border-radius: 22px !important;
    padding:10px 20px !important
}
.css-1pz7awu-MuiButtonBase-root-MuiIconButton-root {
  color:#606060 !important;
  border-radius: 15px !important;
  padding:10px 20px !important
}

.css-i4bv87-MuiSvgIcon-root {
  color:#606060 !important;
}
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  border-radius: 20px !important;
}